<%-include('includes/header')%>
<link rel="stylesheet" type="text/css" href="/css/menu.css" />
<body>
  <div id="main_container">
    <div class="group_name">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/cafe">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/cafe/products/menu">MyCafe</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/cafe/logout">Logout</a>
        </li>
      </ul>
    </div>
    <div class="cafe_menu_frame">
      <div class="cafe_container">
        <div class="dishs_table">
          <span class="new_dish_txt">
            <%= member.mb_nick.toUpperCase() %>  Menu
          </span>
          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <th scope="col"></th>
              <th scope="col">Product Name</th>
              <th scope="col">Product Type</th>
              <th scope="col">Product Size</th>
              <th scope="col">Product Price</th>
              <th scope="col">Product Left Count</th>
              <th scope="col">Product Status</th>
            </thead>
            <% cafe_data.map((value, key) => { %>
            <tbody style="background-color: #ffffff">
              <td><%= key + 1 %></td>
              <td><%= value.product_name%></td>
              <td><%= value.product_collection%></td>
              <td>
                <%= value.product_collection === 'coffee'? 
                value.product_volume : value.product_size %>
              </td>
              <td><%= value.product_price%></td>
              <td>
                <select class="spec_select new_product_status" id="<%= value._id %>">
                  <option value="PROCESS" <%= value.product_status === 'PROCESS' ? 'selected' : '' %> >PROCESS</option>
                  <option value="PAUSED" <%= value.product_status === 'PAUSED' ? 'selected' : '' %> >PAUSED</option>
                </select>
              </td>
            </tbody>
            <% }); %>
          </table>
          <div class="long_input" style="align-items: flex-end; margin-bottom: 25px;">
          <button class="btn btn-primary hiding_btn">Add Product</button>
          </div>
        </div>

        <form onsubmit="return validateForm()" 
        action="/cafe/products/create" method="POST" class="dish_container"
        enctype="multipart/form-data"
        >
          <div class="long_input long_input_product">
            <span class="new_dish_txt">Add New Product</span>
          </div>
          <div>
            <div class="long_input">
              <label for="product_name">Product Name</label>
              <input id="product_name" type="text" placeholder="Product Name" name="product_name" class="product_name" autocomplete="off">
            </div>
            <input type="text" name="product_status" value = "PAUSED" class="product_status" hidden>
          </div>
          <div class="half_input_frame">
            <div class="half_input">
              <label for="product_price">Product Price</label>
              <input id="product_price" type="number" placeholder="Product Price" name="product_price" class="product_price">
            </div>
           
          </div>
          <div class="half_input_frame">
           <div class="half_input">
              <label for="">Product Types</label>
              <select class="product_collection" name="product_collection">
                <option value="food">Food</option>
                <option value="coffee" select>Coffee</option>
                <option value="smoothie">Smoothie</option>
                <option value="tea">Tea</option>
                <option value="goods">Goods</option>
              </select>
           </div>
           <div class="half_input" id="product_size">
            <label >Product Size</label>
            <select class="product_size" name="product_size">
              <option value="default">Default</option>
            </select>
          </div>
          <div class="half_input" id="product_volume" style="display: none;"> 
            <label >Product Size</label>
            <select class="product_volume" name="product_volume">
              <option value="240" selected>240 ml (small) </option>
              <option value="355" >355 ml (medium) </option>
              <option value="473">473 ml (large) </option>
            </select>
           </div>
          </div>
          

          <!-- Add fields for allergies and nutritional information -->
        <div class="half_input_frame">
          <!-- <div class="half_input">
            <label for="product_discount">Product Discount (%)</label>
            <input id="product_discount" type="number" placeholder="Product Discount" name="product_discount" class="product_discount">
          </div> -->
          
          <div class="half_input">
            <label for="product_allergy">Product Allergies</label>
            <input id="product_allergy" type="text" placeholder="Product Allergies" name="product_allergy" class="product_allergy" autocomplete="off">
          </div>
          <div class="half_input">
            <label for="product_calory">Calories (kcal)</label>
            <input id="product_calory" type="number" placeholder="Calories" name="product_calory" class="product_calory">
          </div>
        </div>
        <div class="half_input_frame">
          <div class="half_input">
            <label for="product_caffeine">Caffeine (mg)</label>
            <input id="product_caffeine" type="number" placeholder="Caffeine" name="product_caffeine" class="product_caffeine">
          </div>
          <div class="half_input">
            <label for="product_sugar">Sugar (g)</label>
            <input id="product_sugar" type="number" placeholder="Sugar" name="product_sugar" class="product_sugar">
          </div>
        </div>
        <div class="half_input_frame">
          <div class="half_input">
            <label for="product_protein">Protein (g)</label>
            <input id="product_protein" type="number" placeholder="Protein" name="product_protein" class="product_protein">
          </div>
          <div class="half_input">
            <label for="product_saturated_fat">Saturated Fat (g)</label>
            <input id="product_saturated_fat" type="number" placeholder="Saturated Fat" name="product_saturated_fat" class="product_saturated_fat">
          </div>
        </div>
        <div class="half_input_frame">
          <div class="half_input">
            <label for="product_sodium">Sodium (g)</label>
            <input id="product_sodium" type="number" placeholder="Sodium" name="product_sodium" class="product_sodium">
          </div>
          <div class="half_input">
            <label for="product_discount">Product Discount (%)</label>
            <input id="product_discount" type="number" placeholder="Product Discount" name="product_discount" class="product_discount">
          </div>
          
        </div>

          <div class="desc_upload">
            <div class="long_input">
              <label for="product_description">Product Description</label>
              <textarea name="product_description" class="product_description" id="product_description"></textarea>
            </div>
  
            <div class="img_frame">
              <label for="" style="margin-left: 15px;">Product Picture</label>
              <div class="media_frame">
                <div class="upload_img_box">
                  <img src="/images/upload.svg" class="1" id="image_section_1" alt="dish">
                  <input type="file" name="product_images" class="image_one" id="file" onchange="previewFileHandler(this, 1)">
                </div>
                <input type="text" value="<%= member._id%>" name="cafe_id" class="cafe_id" hidden>
              </div>
            </div>
          </div>
          <div class="btn_submit">
            <button class="btn btn-primary" id="create_product" type="submit"> Confirm</button>
          </div>

        </form>             
      </div>
    </div>
  </div>
  <script>
    $(function(){
      // Initial setup to hide the form
      $(".dish_container").hide();

      // Show the form when "Confirm" button is clicked
      $('.hiding_btn').on("click", () => {
          $(".dish_container").slideToggle(500);
      });

      $(".product_collection").on("change", ()=>{
        const selected_value = $(".product_collection").val();
        if (['coffee', 'smoothie', 'tea'].includes(selected_value)) {
          $("#product_volume").show();
          $("#product_size").hide();
        }else{
          $("#product_volume").hide();
          $("#product_size").show();
        }
      });

      // Product Status Changer
      $(".new_product_status").on("change", async function(e){
        <!-- console.log("event", e); -->
        const id = e.target.id;
        const product_status = $(`#${id}.new_product_status`).val();
        try{
          const response = await axios.post(`/cafe/products/edit/${id}`, 
          {id: id, product_status: product_status});
          const result = response.data;
          console.log("result >> ", result);
          if(result.state == 'success'){
            alert('success');
            location.reload();
          }else{
            alert(result.message)
          }
        }catch(err){
          console.log("updateChosenProduct", err);
        }
      })

    })

    function validateForm(){
      const cafe_mb_id = $(".cafe_mb_id").val(),
        product_name = $(".product_name").val(),
        product_price = $(".product_price").val(),
        product_collection = $(".product_collection").val(),
        product_description = $(".product_description").val(),
        product_status = $(".product_status").val();

      if(
        cafe_mb_id == '' ||
        product_name == '' ||
        product_price == '' ||
        product_collection == '' ||
        product_description == '' ||
        product_status == ''
      ){
        alert("Please, Input all information correctly!");
        return false
      }else return true
    }

    function previewFileHandler(input, order){
      const image_class_name = input.className;
      const file = $(`.${image_class_name}`).get(0).files[0],
        fileType = file['type'],
        validImageTypes = ["image/jpg", "image/jpeg", "image/png"];
      
        if(!validImageTypes.includes(fileType)){
          alert("Please, Upload required photo types:  (jpg, jpeg, png)")
        }else{
          let reader = new FileReader();
          reader.onload = function(){
            $(`#image_section_${order}`).attr("src", reader.result)
          }
          reader.readAsDataURL(file);
        }
    }
  </script>
</body>
<%-include('includes/footer')%>